includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        - identifier: argument.templateType
        - identifier: argument.type
        - identifier: assign.propertyType
        - identifier: missingType.iterableValue
        - identifier: missingType.parameter
        - identifier: return.type
