includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        - identifier: argument.templateType
        - identifier: argument.type
        - identifier: assign.propertyType
        - identifier: binaryOp.invalid
        - identifier: booleanAnd.rightNotBoolean
        - identifier: booleanNot.exprNotBoolean
        - identifier: cast.string
        - identifier: classConstant.deprecated
        - identifier: function.impossibleType
        - identifier: function.notFound
        - identifier: if.condNotBoolean
        - identifier: method.nonObject
        - identifier: method.notFound
        - identifier: missingType.iterableValue
        - identifier: missingType.parameter
        - identifier: offsetAccess.nonOffsetAccessible
        - identifier: offsetAssign.dimType
        - identifier: parameter.deprecatedInterface
        - identifier: property.nonObject
        - identifier: return.type
        - identifier: ternary.condNotBoolean
        - identifier: trait.unused
